@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");

.about {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  height: 100%;
  background-size: cover;
  padding-left: 200px;
  padding-right: 200px;
}

.about h1 {
  font: 30px "Press Start 2P", cursive;
  color: white;
  line-height: 2;
  position: relative;
 
}

.about p { 
  font-size: 15px;
  color: white;
  width: 60%
  line-height: 3;
  text-align: left;
  font-family: Franklin Gothic Bold;
}


.menu {
  background-color: black;
  font: 12px "Press Start 2P", cursive;
  top: 15px;
  position: relative;
}
.menu a {
  color: white;
  top: 5px;
  text-decoration: none;
  
}