<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
.menu { 
		text-decoration: none;
}

.menu ul{
	text-decoration: none;
	text-align: right;
	margin: 10px;
	float: right;
	font: 24px "Josefin";
	margin-top: -132px;
	display: inline-block;
	width: 100%;
	text-decoration: none;
}

.menu a {
	text-decoration: none;
}
.name { 
font: 34px "Josefin";
text-align: left;
margin: 5px;
float: left;
margin-top: -138px;
}

.name p{
	display: inline;
}

.about {
	text-align: center;
	margin-top: 150px;
	margin-left: 50px;
	margin-right: 50px;



}

.about h1 {
	font: 45px "Josefin";
	display: inline;
	vertical-align: top;

}

.about h2 {
	font: 45px "Josefin";
	color: #9D5F24;
	display: inline;
}
.about p {
	font: 20px "Josefin";
	margin-right: 30px;
	margin-left: 30px;
}

.niko {
	width: 200px;
	height: 200px;
	margin-top: 50px;
}