
.menu { 
	font: 24px "Letter Gothic Std";
	text-align: right;
	margin: 10px;
	float: right;
}

.menu a{
	text-decoration: none;
	display: inline;

}
.name { 
font:34px "Letter Gothic Std";
text-align: left;
margin: 5px;
float: left;
}

.name p{
	display: inline;
}

.avatar {
	width: 320px;
	height: 320px;
	margin-top: 200px;
	margin-left: -180px;
	margin-right: 10px;
	vertical-align: middle;
	float: left;
	display: inline;
}

.about {
	font: 26px "Letter Gothic Std";
	margin-top: -370px;
	margin-left: 380px;
	display: inline;
	float: right;
	margin-right: 30px;
}
.linkedin{
	width: 39px;
	height: 39px;
	float:left;
	margin-top: 520px;
	display: inline;
	margin-left: -240px;
}
.instagram{
	width: 37px;
	height: 36px;
	margin-top: 522px;
	display: inline;
	float: left;
	margin-left: -190px;
}
.email{
	width: 37px;
	height: 36px;
	margin-top: 522px;
	display: inline;
	float: left;
	margin-left: -140px;
}

