.menu { 
	font: 24px "Letter Gothic Std";
	text-align: right;
	margin: 10px;
	float: right;
	margin-top: -132px;
}

.menu a{
	text-decoration: none;


}
.name { 
font:34px "Letter Gothic Std";
text-align: left;
margin: 5px;
float: left;
margin-top: -138px;
}

.name p{
	display: inline;
}


.about {
	text-align: center;
	margin-top: 150px;
	margin-left: 50px;
	margin-right: 50px;
}

.about h1{
	font: 45px "Letter Gothic Std";
	vertical-align: top;
}
.about p {
	font: 20px "Letter Gothic Std";
	margin-right: 100px;
	margin-left: 100px;
}

img { 
	display: inline-block;
	padding: 2px 2px 2px 2px;
	margin: auto;
	align-self: top;
	vertical-align: top;


 }


.jimage {
	width: 476;
	height: 318;
	vertical-align: top;
}

.lights {
	width: 508;
	height: 327;
	vertical-align: top;
	top: -100px;
}

.building2 {
	width: 429px;
	height: 273px;
	vertical-align: top;
}

