<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">
.menu { 
		text-decoration: none;
}

.menu ul{
	text-decoration: none;
	text-align: right;
	margin: 10px;
	float: right;
	font: 24px "Josefin";
	margin-top: -132px;
	display: inline-block;
	width: 100%;
	text-decoration: none;
}

.menu a {
	text-decoration: none;
}
.name { 
font: 34px "Josefin";
text-align: left;
margin: 5px;
float: left;
margin-top: -138px;
}

.name p{
	display: inline;
}

.about {
	text-align: center;
	margin-top: 150px;
	margin-left: 50px;
	margin-right: 50px;
}

.about h1{
	font: 45px "Josefin";
	vertical-align: top;
}
.about p {
	font: 20px "Josefin";
	margin-right: 100px;
	margin-left: 100px;
}

img { 
	display: inline-block;
	padding: 2px 2px 2px 2px;
	margin: auto;
	align-self: top;
	vertical-align: top;


 }


.jimage {
	width: 476;
	height: 318;
	vertical-align: top;
}

.lights {
	width: 508;
	height: 327;
	vertical-align: top;
	top: -100px;
}

.building2 {
	width: 429px;
	height: 273px;
	vertical-align: top;
}

